{% extends "base.html" %}

{% block content_title %}About{% endblock %}
{% block content %}

<h2 class="title"><span class="in">Namolokama OC1 Registration</span></h2>
<P>You can use this page to pre-register for the Namolokama Canoe Club's 2012 OC1 race.
    For more information about the race please click <a href="http://www.namolokama.com/">here</a>.</P>

<P>Fill out the information below to be registered for the event.  There is a $25 entrance fee.  Once you click the
    <i>register</i> button below your payment will be processed via Google Checkout.  You will receive a confirmation
    email notifying you that your payment was accepted and that you are registered.</P>

<form method="POST" action="/register">
    <ul class="ncc_form_list">
        <li>
            <div class="ncc_form_list_row">
                <label class="ncc_form_label" id="firstname_lbl">First Name</label>
                <input class="ncc_form_input" name="ncc_firstname" type="text" id="ncc_firstname_txt" label="firstname_lbl"/>
            </div>
        </li>
        <li>
            <div class="ncc_form_list_row">
                <label id="lastname_lbl">Last Name</label>
                <input name="ncc_lastname" type="text" id="ncc_lastname_txt" label="lastname_lbl"/>
            </div>
        </li>
        <li>
            <div class="ncc_form_list_row">
                <label id="boat_number_lbl">Boat Number</label>
                <input name="ncc_boat_number" type="text" id="ncc_boat_number_txt" label="boat_number_lbl"/>
            </div>
        </li>
        <li>
            <div class="ncc_form_list_row">
                <label id="coarse_lbl">Course</label>
                <select id="ncc_course" label="coarse_lbl" name="ncc_course" >
                    {% for c in courses %}
                    <option>{{ c }}</option>
                    {% endfor %}
                </select>
            </div>
        </li>
        <li>
            <div class="ncc_form_list_row">
                <label id="boat_type_lbl">Boat Type</label>
                <select id="ncc_boat_type" label="boat_type_lbl" name="ncc_boat_type" >
                    {% for c in boat_types %}
                    <option>{{ c }}</option>
                    {% endfor %}
                </select>
            </div>
        </li>
        <li>
            <div class="ncc_form_list_row">
                <p>If you wish to be contacted in the event of race cancellation or alteration please enter and email address.</p>
                <label id="email_lbl">Email Address</label>
                <input name="ncc_emailaddr" type="text" id="ncc_emailaddr_txt" label="email_lbl"/>
            </div>
        </li>
        <li>
            <div class="ncc_form_list_row">
                <input type="checkbox" name="ncc_agreement" value="agree"/>
                <label>I have read and agree to the release form <a href="x">here</a></label>
            </div>
        </li>
        <li>
            <div class="ncc_form_list_row">
                <input type="submit" value="Register"/>
            </div>
        </li>
    </ul>

    <input type="hidden" name="ncc_transaction_reference" value="{{ ncc_transaction_reference }}"></hidden>
</form>

{% endblock %}
