{% extends "base.html" %}
{% block headscripts %}
    <script src="/scripts/namo.js"></script>
{% endblock %}

{% block bodytag %}onload="loadPage();"{% endblock %}


{% block content_title %}About{% endblock %}
{% block content %}

<h2 class="title"><span class="in">Namolokama OC1 Registration</span></h2>
<h3>Online Registration for this event is now closed</h3>
<P>
    <b>But you can still race!</b>  Register before the event at the Anini boat ramp between 10:00am and 11:00am
    on Sunday May 20th 2012</p>

{% endblock %}
