{% extends "base.html" %}
{% block headscripts %}
    <script src="/scripts/namo.js"></script>
{% endblock %}

{% block bodytag %}onload="loadPage();"{% endblock %}


{% block content_title %}Closed{% endblock %}
{% block content %}

<h2 class="title"><span class="in">Hanalei Swim Registration Closed</span></h2>
<h3>Online Registration for this event is now closed</h3>
<P>
    <b>But you can still participate!</b>  Register before the event at the Hanalei pier at 8am.  For more information
see <a href="https://sites.google.com/site/hanaleiswim/">here</a></p>

{% endblock %}
